@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RobotoFlex";
  src: local("RobotoFlex"),
    url("./assets/Fonts/RobotoFlex.ttf") format("truetype");
}

@font-face {
  font-family: "SuzukiPROHeadline";
  src: local("SuzukiPROHeadline"),
    url("./assets/Fonts/SuzukiPROHeadline.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: local("OPEN-SANS"),
    url("./assets/Fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans 3";
  src: local("SOURCE-SANS-3"),
    url("./assets/Fonts/SourceSans3-SemiBold.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1a1a1a;
  scroll-behavior: smooth;
  color: white;
  font-family: "RobotoFlex";
}

.containers {
  @apply mx-auto lg:w-[1000px] py-[64px] px-5 md:px-10 lg:px-5;
}

.suzukipro {
  font-family: "SuzukiPROHeadline";
}

.header-text {
  @apply text-header md:text-[24px] lg:text-[42px] text-white;
  font-family: "SuzukiPROHeadline";
}

.body-text {
  @apply text-body md:text-[16px] lg:text-[20px];
  font-family: "RobotoFlex";
  color: "#565656";
}

.button {
  @apply flex items-center font-semibold gap-2 cursor-pointer border-2 border-white rounded-md px-6 py-2;
}

/* styles.css */
.custom-gradient {
  background: linear-gradient(90deg, #ecf8ed 0%, #319639 25%, #1e5c23 100%);
  padding: 1rem;
  text-align: center;
}

@media (max-width: 767px) {
  .custom-gradient {
    background: linear-gradient(180deg, #ecf8ed 10%, #319639 55%, #1e5c23 100%);
    padding: 0.5rem;
  }
}
